@media(min-width: 1024px) {
    .tabla {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 5%;
    }
}

@media(min-width: 1440px) {
    .tabla {
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
    }
}